{% extends "layout.twig" %}

{% block productindex %}

<a href="/admin/products/create.php" class="btn btn-primary link-warning">Create</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Size</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <th scope="row">{{ item['id'] }}</th>
            <td>{{ item['name'] }}</td>
            <td>{{ item['color'] }}</td>
            <td>{{ item['size'] }}</td>
            <td>
                <form class="d-flex" action="/admin\products\show.php" method="post">
                    <input value="{{ item['id'] }}" class="form-control me-2" type="hidden" name="id">
                    <button class="btn btn-outline-success" type="submit">View</button>
                </form>
                <form class="d-flex" action="/admin\products\edit.php" method="post">
                    <input value="{{ item['id'] }}" class="form-control me-2" type="hidden" name="id">
                    <button class="btn btn-outline-warning" type="submit">Edit</button>
                </form>
                <form class="d-flex" action="/admin\products\delete.php" method="post">
                    <input value="{{ item['id'] }}" class="form-control me-2" type="hidden" name="id">
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                </form>

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}